@import "../colors.scss";
@import "../mixin.scss";

.container {
  @include flex(column, 2.5rem, center);
  height: fit-content;
  padding-top: 4rem;
  margin-bottom: 4rem;

  & .headings {
    @include flex(column, 0.5rem, center);

    & .name {
      @include text(2.5rem, 3rem, 500, $white, $shadow, $align: center);
    }
  }
  & .row {
    @include flex(row, 6rem, center, center);

    & .image {
      img {
        height: 412px;
        box-shadow: $shadow;
      }
    }
    & .block {
      @include flex(column, 2rem, flex-start);

      & .badge {
        @include text(1rem, 1.25rem, 500, $primary, $align: center);
        background-color: $black75;
        padding: 1rem 2rem;
        border-radius: 3rem;
        width: 90%;
      }
      & .list {
        width: 600px;
        padding-left: 1rem;

        & .item {
          @include text(1.25rem, 1.5rem, 600, $white, $shadow);
        }
        & .highlight {
          color: $primary;
        }
      }
    }
  }
}

@media (max-width: 1100px) {
  .container {
    & .row {
      @include flex(column, 3rem, center, center);

      & .block {
        align-items: center;
        & .badge {
          width: 100%;
        }
      }
    }
  }
}

@media (max-width: 660px) {
  .container {
    & .row {
      & .block {
        & .list {
          width: 400px;
        }
      }
    }
  }
}

@media (max-width: 480px) {
  .container {
    & .headings {
      & .name {
        @include text(2rem, 2.5rem, 500, $white, $shadow);
      }
    }
    & .row {
      & .image {
        img {
          height: 300px;
        }
      }
      & .block {
        & .list {
          width: 300px;

          & .item {
            @include text(1rem, 1.25rem, 600, $white, $shadow);
          }
        }
        & .badge {
          width: 80%;
          @include text(1rem, 1.25rem, 500, $primary, $align: center);
        }
      }
    }
  }
}

