@import "../colors.scss";
@import "../mixin.scss";

.container {
  @include flex(row, 0rem, flex-end, space-around);
  padding: 4rem 0 2rem;

  & .left {
    width: min(800px, 80%);
    @include flex(column, 0.5rem, flex-start, flex-end);

    background: linear-gradient(to bottom, $white, $gray);
    background-clip: text;
    -webkit-text-fill-color: transparent;

    & .docs {
      @include flex(row, 0.5rem);
      flex-wrap: wrap;

      & .row {
        @include flex(row, 0.5rem, flex-start);

        & a {
          @include text(1rem, 1rem, 400, $textshadow: $shadow, $align: left);
          width: fit-content;
          background: linear-gradient(to bottom, $white, $primary);
          background-clip: text;
          -webkit-text-fill-color: transparent;
          transition: 0.5s ease-in;

          &:hover {
            background: linear-gradient(to bottom, $gray, $white);
            background-clip: text;
            -webkit-text-fill-color: transparent;
          }
        }
      }
    }
    & .alertMeta {
      @include text(0.75rem, 0.75rem, 400, $textshadow: $shadow);
    }
  }
  & .right {
    @include flex(row, 0.5rem, center);
    & .label {
      @include text(1rem, 1rem, 400, $textshadow: $shadow);

      background: linear-gradient(to bottom, $white, $primary);
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    & .logo__wrapper {
      width: 50px;
      height: 50px;
      text-align: center;
      display: block;
      border-radius: 999px;
      position: relative;
      overflow: hidden;
      z-index: 1;
      &:before {
        content: "";
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 100%;
        background: #0a493c;
        border-radius: 999px;
        transition: 0.5s;
        z-index: 2;
      }
      &:hover:before {
        top: 0;
      }
      &:hover .logo {
        transform: rotateY(360deg);
      }
      & .logo {
        width: 50px;
        height: 50px;
        transition: 0.6s ease-in;
        z-index: 3;
        position: relative;
      }
    }
  }
}

@media (max-width: 1200px) {
  .container {
    @include flex(column, 0.5rem, stretch, space-around);
    padding: 2rem;

    & .left {
      & .docs {
        flex-direction: column;
        & .row {
          flex-direction: column;
        }
      }
    }
  }
}

@media (max-width: 480px) {
  .container {
    padding: 1rem;
  }
}
