@import "../colors.scss";
@import "../mixin.scss";

.container {
  @include flex(column, 2rem, center, center);
  height: 860px;
  .block {
    width: 100%;
    background-color: $black75;

    .slider {
      max-width: 1440px;
      margin: 0 auto;
      width: 100%;

      & .row {
        display: grid;
        grid-auto-flow: column;
        scroll-behavior: auto;
        gap: 2.5rem;
        overflow-y: hidden;
        overscroll-behavior-x: contain;
        scroll-snap-type: x mandatory;
        scrollbar-width: none;

        &::-webkit-scrollbar {
          display: none;
        }

        & .item {
          scroll-snap-align: start;
          border-radius: 30px;
          height: 300px;
          min-width: 300px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }
}
