$primary: #DDAE3C;
$secondary: #FEDE7F;
$black: #111111;
$black75: rgb(17, 17, 17, 0.75);
$white: #F8F8F8;
$gray: #A0A0A0;

$shadow: 0px 8px 12px rgba(0, 0, 0, 0.15), 0px 4px 4px rgba(0, 0, 0, 0.3);
$button-shadow: 4px 4px 4px rgba(0, 0, 0, 0.75);