* {
    font-family: 'Montserrat', sans-serif;
}

html {
    background-color: black;
    scroll-behavior: smooth;
}

body {
    background-image: url('/BG.png');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;

    height: 6000px;
    padding-top: 3rem;
}