* {
    font-family: 'Montserrat', sans-serif;
}

html {
    background-color: black;
    scroll-behavior: smooth;
}

body {
    background-image: url('/BG.png');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    padding-top: 3rem;
    width: 100%;
}
.no-scroll {
    overflow: hidden;
  }

@media(max-width: 860px) {
    body {
        padding-top: 1rem;
    }
}